
@model WeatherForecasting.Models.WeatherReport

@{
    ViewData["Title"] = "WeatherReport";
}
<style>
    .card {
        position: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        top: 40%;
        left: 30%;
        
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    .container {
        padding: 2px 16px;
    }
</style>

<div class="container" >

    <div class="card">

        <div class="form-group col-md-offset-3" style="text-align:center">

            <h2>Weather report of @Model.City</h2>

          
            <label asp-for="Temprature"></label>
            <span class="badge">@Model.Temprature °C</span>
            <br />

            <label asp-for="Humidity"></label>
            <span class="badge">@Model.Humidity %</span>
            <br />

            <label asp-for="Pressure"></label>
            <span class="badge">@Model.Pressure Hpa</span>
            <br />

            <label asp-for="Wind"></label>
            <span class="badge">@Model.Wind Km/h</span>
            <br />

            <label asp-for="Weather"></label>
            <span class="badge">@Model.Weather</span>

        </div>

   

        <div class="form-group col-md-offset-3"style="text-align:center">

            <form method="get">
                <button asp-controller="Forecast" asp-action="SearchByCity" class="btn btn-success">Home</button>
            </form>

        </div>

    </div>

</div>